html { overflow-y: scroll; } /*Dette er her for å tvinge scrollbaren til å konstant være der, slik at nettsiden ikke endrer seg etter at denne kommer*/
.navbar {
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0.05%;
  overflow: hidden;
  background-color: red;
  background-image:
    linear-gradient(
      to top right,
      #FDC830, #ff9068
    );
}
header {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  margin: 0;
}
li>a {
  float: left;
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  font-family: sans-serif;
  width: 16.66667%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
}

body {
  margin: 0;
  background-color: lightgrey;
  background-image: url("https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg");
  background-size: 100%;
}
li>a:hover {
  background-color: #e89004;
}
main {
  min-height: 10vw;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  height: auto;
  padding-bottom: 1%;
  margin-top: 1%;
  font-family: helvetica;
  color: black;
  padding-left: 5%;
  padding-top: 1%;
  padding-right: 5%;
}
.overskrift {
  font-size: 3vw;
}
.underoverskrift {
  font-size: 2vw;
}
main>div>a {
  text-decoration: none;
  color: black;
  padding-right: 3%;
}

@media (max-width: 1200px) {
 li>a {
   font-size: 2vw;
 }
}
@media (max-width: 900px) {
  li>a {
    font-size: 2.1vw;
  }
}
