ul {
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
header {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}
li>a {
  float: left;
  padding: 2%;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  font-size: 125.3%;
  font-family: sans-serif;
  padding-left: 5.3%;
  padding-right: 5.3%;
}
