html { overflow-y: scroll; } /*Dette er her for å tvinge scrollbaren til å konstant være der, slik at nettsiden ikke endrer seg etter at denne kommer*/
ul {
  list-style-type: none;
  color: black;
  margin: 0;
  padding: 0.05%;
  overflow: hidden;
  background-color: red;
  background-image:
    linear-gradient(
      to top right,
      #FDC830, #ff9068
    );
}
header {
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  margin: 0;
}
li>a {
  float: left;
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  font-family: sans-serif;
  width: 16.66667%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
  font-family: monospace;
}
body {
  margin: 0;
  background-image: url("https://i.pinimg.com/originals/5c/f2/66/5cf2660af5f4214def7166dc7a7c8062.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
li>a:hover {
  background-color: #e8a81e;
}
main {
  min-height: 10vw;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  height: auto;
  padding-bottom: 1%;
  margin-top: 1%;
}
p {
  text-align: center;
  padding-top: 5%;
}
p>a {
  color: black;
}
.gratulerer {
  font-size: 120%;
}
@media (max-width: 1200px) {
 li>a {
   font-size: 2vw;
 }
}
@media (max-width: 900px) {
  li>a {
    font-size: 2.1vw;
  }
}
